@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Audiowide:400,500,700');
html, body{
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color: #222;
  margin:0; padding:0;
  box-sizing: border-box;
}
h1, h2, h3 {
    font-family: 'Audiowide', sans-serif;
}
@keyframes ani01{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
/*shape*/
 .shape-01{
    padding-top: 50px;
    margin-left: 1800px;
    height: 30px;
    width: 30px;
    border: 2px solid rgb(224, 187, 32);
    right: 5%;
    animation: ani01 5s linear infinite;
}
.navbar {
    padding: 16px;
    position: fixed; 
    top: 0;
    width: 100%;
  }
.navbar-nav li{
   margin-left: 250px;
}

.card{
    margin-top: 20px;
    margin-bottom: auto;
    width: 600px;
    background-color: rgba(0,0,0,0.5) !important;
}
    
    .social_icon span{
    font-size: 60px;
    margin-left: 10px;
    color: rgb(224, 187, 32);
    }
    
    .social_icon span:hover{
    color: white;
    cursor: pointer;
    }
    
    .card-header h3{
    color: white;
    }
    
    .social_icon{
    position: absolute;
    right: 20px;
    top: -45px;
    }
    .input-group-prepend span{
        width: 40px;
        background-color: rgb(224, 187, 32);
        color: black;
        border:0 !important;
        }
/*contact*/
.contact-us {
    padding: 70px 0px;
    background: rgb(224, 187, 32);
}
.section-title h2 {
    color: #ffffff;
    font-size: 30px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 8px;
    border-bottom: 5px solid black;
    padding-bottom: 10px;
    display: inline-block;
}
.section-title p {
    color: #e8e8e8;
    margin-bottom: 30px;
}
.contact-us input,
.contact-us textarea {
    background: #fafafa;
}
.contact-us textarea {
    min-height: 188px;
    max-width: 100%;
}
/*landing*/
.information{
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 40%;
    left: -10%;
    transform: translateY(-50%);
}
#circle{
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    transform: rotate(0deg);
    transition: 1s;
}
.feature img{
    width: 70px;
}
.feature{
    position: absolute;
    display: flex;
    color: #fff;
}
.feature div{
    margin-left: 30px;
}
.feature div p{
    margin-top:8px ;
}
.one{
    top: 450px;
    right: 50px;
}
.two{
    top: 150px;
    left: 350px;
    transform: rotate(-90deg);
}
.three{
    bottom:450px ;
    left: 50px;
    transform: rotate(-180deg);
}
.four{
    bottom: 150px;
    right: 350px;
    transform: rotate(-270deg);
}
.mobile{
    width: 200px;
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translateY(-50%);
    z-index: 1;
}
.controls{
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
}
.controls h3{
    margin: 15px 0;
    color: #fff;
}
#UpBtn{
    width: 15px;
    cursor: pointer;
}
#DownBtn{
    width: 15px;
    cursor: pointer;
    transform: rotate(180deg);
}
.overlay{
    width: 0;
    height: 0;
    border-top: 500px solid #fff;
    border-right: 500px solid transparent;
    border-bottom: 500px solid #fff;
    border-left: 500px solid #fff;
    position: absolute;
    left: 0;
    top: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h2{
    text-align: center;
}
.columns {
  float: left;
  width: 25%;
  margin-bottom: 16px;
  padding: 0 8px;
}

@media screen and (max-width: 650px) {
  .columns {
    width: 100%;
    display: block;
  }
}

.cards {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.containers {
  padding: 0 16px;
}

.containers::after, .rows::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}
/*footer*/
.footer{
    background-color:black;
    text-align: center;
}

.footer .share{
    padding:1rem 0;
}

.footer .share a{
    height: 200px;
    width: 200px;
    line-height: 200px;
    font-size: 20px;
    color:#fff;
    margin:.3rem;
    border-radius: 50%;
}

.footer .share a:hover{
    background-color: rgb(224, 187, 32);
}

.footer .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 0;
    gap:1rem;
}

.footer .links a{
    padding:.7rem 2rem;
    color:#fff;
    border:rgb(224, 187, 32);
    font-size: 20px;
}

.footer .links a:hover{
    background:rgb(224, 187, 32);
}

.footer .credit{
    font-size: 20px;
    color:#fff;
    font-weight: lighter;
    padding:1.5rem;
}

.footer .credit span{
    color:rgb(224, 187, 32);
}

/* media queries  */
@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .information{
       visibility: hidden;
    }

    section{
        padding:2rem;
    }

}
@media (max-width:768px){
 .navbar{
        position: absolute;
        top:100%; right: -100%;
        background: #fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar.active{
        right:0;
    }
.navbar a{
        display: block;
        margin:1.5rem;
        padding:.5rem;
        font-size: 2rem;
    }
    .information{
        visibility: hidden;
    }

    .home .content h3{
        font-size: 4.5rem;
    }

    .home .content p{
        font-size: 1.5rem;
    }

}
@media (max-width: 450px) {
    .navbar.active {
      display:block;
      position: absolute;
      top: 100%;
      right: 0;
      background: #fff;
      width: 30rem;
      height: calc(100vh - 9.5rem);
    }
}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .information{
        visibility: hidden;
    }
}

.animated-text {
    font-size: 24px;
    color: #111;
    text-align: center;
    margin-top: 20px;
    transition: font-size 0.3s, color 0.3s;
    cursor: pointer;
}
/*gallery*/
.wrapper-gallery{
    margin: 0 20vw;
}
#index-gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    grid-template-areas: 
    "gallery-p gallery-p gallery-p gallery-p"
    "gallery-h2 gallery-h2 gallery-h2 gallery-h2"
    "img1 img2 img3 img4"
    "img5 img6 img3 img7";
}
#index-gallery .gallery-img{
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}
/*images*/
#index-gallery p{
    grid-area: gallery-p;
}
#index-gallery h2{
    grid-area: gallery-h2;
}
#index-gallery .img1{
    grid-area: img1;
    background-image: url("./img/images/img1.jpg");
}
#index-gallery .img2{
    grid-area: img2;
    background-image: url("./img/images/img2.jpg");
}
#index-gallery .img3{
    grid-area: img3;
    background-image: url("./img/images/img3.jpg");
    height: 610px;
}
#index-gallery .img4{
    grid-area: img4;
    background-image: url("./img/images/img4.jpg");
}
#index-gallery .img5{
    grid-area: img5;
    background-image: url("./img/images/img5.jpg");
}
#index-gallery .img6{
    grid-area: img6;
    background-image: url("./img/images/img6.jpg");
}
#index-gallery .img7{
    grid-area: img7;
    background-image: url("./img/images/img7.jpg");
}
/*gallery titles*/
.gallery-img div{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gallery-img a{
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}
.gallery-img div:hover{
    opacity: 0.8;
    transition: all ease-in-out 100ms; /*slow start slow end*/
}
/*when image is open*/
.img-window{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.img-window img{
    max-height: 80vh;
    max-width: 80vw;
}
/*buttons of gallery*/
.img-btn-next{
    display: block;
    text-decoration: none;
    padding: 6px 10px; /*topbuttom and rightleft*/
    border-radius: 4px;
    background-color: #00BF7F;
    position: fixed;
    top: 48vh;
    z-index: 500;
    font-family: "Poppins", sans-serif;
    color: black;
    cursor: pointer;
    text-transform: uppercase;
}
.img-btn-next:hover{
 opacity: 0.8;
 background-color: #111;
}
.img-btn-prev{
    text-decoration: none;
    display: block;
    padding: 6px 10px; /*topbuttom and rightleft*/
    border-radius: 4px;
    background-color: #00BF7F;
    position: fixed;
    top: 48vh;
    z-index: 500;
    font-family: "Poppins", sans-serif;
    color: black;
    cursor: pointer;
    text-transform: uppercase;
}
.img-btn-prev:hover{
    opacity: 0.8;
    background-color: #111;
   }
   /* Styling for the image gallery */
.image-gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    justify-items: center;
}

.image-gallery img {
    width: 100%;
    max-width: 300px;
    border: 2px solid #fff;
    border-radius: 5px;
    cursor: pointer;
}

/* Styling for the lightbox */
.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999;
}

.lightbox-image {
    display: block;
    margin: 0 auto;
    max-width: 80%;
    max-height: 80%;
}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}
.accordion {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.accordion-btn {
    background-color: #f1f1f1;
    color: #333;
    cursor: pointer;
    padding: 10px;
    text-align: left;
    width: 100%;
    border: none;
    text-transform: uppercase;
}

.panel {
    display: none;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.panel p {
    margin: 0;
}
.row > .column {
    padding: 0 8px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .column {
    float: left;
    width: 25%;
  }
  
  /* The Modal (background) */
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #000000;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px;
  }
  
  /* The Close Button */
  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
 
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Caption text */
  .caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
  }
  
  img.demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  
  img.hover-shadow {
    transition: 0.3s;
  }
  
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }